themes {
    default {
        fg "#050806"
        bg "#346660"
        black "#c0c1c0"
        red "#53645E"
        green "#AD7948"
        yellow "#53896E"
        blue "#3F768C"
        magenta "#5C9F9A"
        cyan "#c0c1c0"
        white "#53665c"
        orange "#346660"
    }
}
